body {
    background-color: rgb(236, 236, 236);
    font-family: Lato, sans-serif;
}

.menu-bar {
    z-index: 99;
    background-color: rgb(58, 58, 56);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px 0;
}

.logo {
    z-index: 99;
    width: auto;
    height: 80px;
}

.container {
    position: absolute;
    top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-title {
    font-size: 18px;
    margin: 10px 0;
}

.product-price {
    font-size: 16px;
    color: rgb(58, 58, 56);
}

.add-to-cart {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.add-to-cart button {
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-button {
    background-color: rgb(58, 58, 56);
}

.add-to-cart button:hover {
    text-decoration: underline;
}

.add-to-cart .amount {
    position: relative;
    width: 25px;
    padding: 5px;
    left: -10px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.more-text {
    display: none;
}

.see-more-button {
    background-color: #48484838
}

.material-symbols-outlined {
    position: absolute;
    left: 55%;
    top: 45%;
}


@media screen and (max-width: 768px) {
    .product-card {
        width: 100%;
        margin-right: 0;
    }
}
